.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.toggle-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  width: 50px;
  height: 30px;
  background-color: hotpink;
  border-radius: 15px;
  position: relative;
  margin: 0.5em;
  cursor: pointer;
}

label::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  top: 3px;
  left: 22px;
  transition: 0.5s;
}

/* GLASS TOGGLE */

.glass-toggle + label {
  background-color: (0, 212, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* glass effect from glassomorphism generator:  https://glassmorphism.com/ */

.glass-toggle + label ::after {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px) px;
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
}

.glass-toggle:checked + label::after {
  transform: translate(-18px);
  /* background-color: rgba(255, 255, 255, 0.6); */
}

/* ON-OFF TOGGLE */

.on-off-toggle + label {
  background-color: hotpink;
}

.on-off-toggle + label::after {
  background-color: #fff;
}

.on-off-toggle:checked + label {
  background-color: darkgray;
}

.on-off-toggle:checked + label::after {
  background-color: lightgray;
  transform: translate(-18px);
}
